/*CSS Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Set base font properties */
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    width: 100vw;
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: #676;
    height: 3rem;
}

main {
    background-image: url('./img/banana leclerc.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    background: #76776677;
}

.login-style {
    display: flex;
    justify-content: center;
    color: #0a1d24;
    background-color: azure;
    min-height: 100px;
    min-width: 300px;
    border-radius: 20px;
}

aside {
    height: 100vh;
    width: 250px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: white;
    transition: all 0.3s ease;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #ddd;
    font-size: 18px;
}

aside nav a:hover {
    background-color: #555;
}

footer {
    background: #767;
    height: 3rem;
}

:root {
    font-size: clamp(0.8em, 1.5vw, 1.2em);

    /* Fonts */
    --font-header: "Barlow Condensed", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;

    --font-paragraph: "Source Sans 3", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;

    /* Spacing */
    --button-padding: 10px 20px;
    --border-radius: 8px;

    /*--------------------------------------------------*/
    /* Colors */
    color-scheme: light dark;

    /* Light theme colors*/
    --text-color-light: #0a3641;
    --background-color-light: #fffded;
    --footer-bg-light: #fce762;
    --bg-tint-color-light: #fffdeda7;

    /* Dark */
    --text-color-dark: #e8fdff;
    --background-color-dark: #0a1d24;
    --footer-bg-dark: #0a1d24;
    --bg-tint-color-dark: #0b141680;

    --main-cta: #f72c25;
    --secondary-cta: #ffb17a;

    /* Theme variables (those used in CSS styles) */
    --text-color: var(--text-color-light);
    --background-color: var(--background-color-light);
    --footer-bg: var(--footer-bg-light);
    --bg-tint-color: var(--bg-tint-color-light);
    --drop-shadow-color: color-mix(in srgb, var(--background-color-dark), transparent 50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
}

h4,
button {
    font-size: 1.1rem;
}